.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1500px;
  margin: auto;
}

.movie {
  width: 175px;
}

.movie img {
  width: 100%;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.noResults {
  text-align: center;
}
